<div class="container verify rounded  w-50 h-75" style="margin-top:100px">
  <div class="row mx-auto ">
    <div class="col-12">
      <div class="text-center">
        <h1>Verify Yourself!</h1>
      </div>
      <br>
      <form [formGroup]="verificationForm">
        
        <div [hidden]="!forEmail">
          
          <div class="fomr-group">
            <label for="email">Email:</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your email"
              name="email">
          </div>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-secondary mt-2 mb-2 " (click)="onVerify()">Submit</button>
          </div>

        </div>

        <div [hidden]="forEmail">

          <div class="form-group ">
            <label for="email">CODE:</label>
            <input type="text" formControlName="code" class="form-control" id="code" placeholder="Enter Code sent to your email"
              name="code">
          </div>

          <div class="form-group text-center">
            <button type="submit" [disabled]="!verificationForm.valid" class="btn btn-primary mt-2 mb-2 " (click)="onSubmit()">Verify</button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>
