<div class="container" style="margin-top:80px">
  <div class="container list col-10" style="padding-top:20px;padding-bottom:40px;">
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Your Profile</h4>
          <br>
          <p class="card-text "><b>Name :</b> {{interviewerName}}</p>
          <ul class="card-text">
            <li><b>Email :</b> {{i_email}}</li>
            <br>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <table class="table  table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Candidate Name</th>
        <th>Scheduled Time</th>
        <th>FeedBack</th>
        <th>Resume</th>
        <th>Intro video</th>
        <th>Give Comments</th>
        <th>Submit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mapped of resList">
        <td>{{mapped.c_name}}</td>
        <td>{{mapped.date}} {{mapped.time}}</td>
        <td><input type="number" [disabled]="mapped.isSubmitted" [(ngModel)]="mapped.feedback" class="marks" min="1"
            max="10" required>/10</td>

        <td>
          <div class="row">
            <div class="col-6">
              <img src="https://img.icons8.com/color/48/000000/show-property.png" (click)="resumeShow(mapped)">
            </div>
            <div class="col-6">
              <img src="https://img.icons8.com/flat_round/64/000000/downloading-updates.png" (click)="resume(mapped)">
            </div>
          </div>
        </td>

        <td>
          <div class="row">
            <div class="col-6">
              <img src="https://img.icons8.com/color/48/000000/show-property.png" (click)="introShow(mapped)">
            </div>
            <div class="col-6">
              <img src="https://img.icons8.com/flat_round/64/000000/downloading-updates.png" (click)="intro(mapped)">
            </div>
          </div>
        </td>

        <!-- <td><button class="btn btn-info" [disabled]="mapped.isSubmitted" (click)="resume(mapped)">Resume</button></td>
        <td><button class="btn btn-info" [disabled]="mapped.isSubmitted" (click)="intro(mapped)">Video</button></td> -->
        <td><input type="text" [disabled]="mapped.isSubmitted" [(ngModel)]="mapped.comments" required></td>
        <td><button class="btn btn-primary" [disabled]="mapped.isSubmitted" (click)="feedback(mapped)">submit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix mt-5">

    <div class="col-12 pb-4" *ngIf="displayVideo">

      <h1><label for="name">{{applicant.fullName}}</label></h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" [src]="vidSrc | safe" width="75%" height="75%"></iframe>
      </div>
    </div>



    <div class="col-12 pt-5 mx-auto" *ngIf="displayResume">
      <h1><label for="name">{{applicant.fullName}}</label></h1>
      <iframe [src]="resSrc| safe" frameborder="0" width="75%" height="900px"></iframe>
    </div>
  </div>
</div>
















































<!-- <div  class="mt-4">
    <div class="container table-responsive">
      <h2 class="middle">Hi {{interviewerName}}!</h2>
      <table class="table table-bordered table-responsive-lg table-active table-hover table-info">
  
        <th>Candidate Name</th>
        <th>Scheduled Time</th>
        <th>FeedBack</th>
        <th>Resume</th>
        <th>Intro video</th>
        <th>Submit</th>
        <tr *ngFor="let mapped of resList">
          <td>{{mapped.c_name}}</td>
          <td>{{mapped.date}} {{mapped.time}}</td>
          <td><input type="number" [(ngModel)]="mapped.feedback" class="marks" min="1" max="10" required>/10</td>
          <td><button class="btn btn-info" >Resume</button></td>
          <td><button class="btn btn-info" >Video</button></td>
          <td><button class="btn btn-primary" (click)="feedback(mapped)">submit</button></td>
        </tr>
      </table>
      <div *ngIf='resPath!=null'>
        <h3>Resume</h3>
        <iframe [src]="resPath | safe" frameborder="0" width="75%" height="900px"></iframe>
      </div>
  
      <div class="video center" *ngIf='vidPath!=null'>
        <h3>Intro video</h3>
        <video controls (click)="toggleVideo()" id="videoPlayer" width="75%" height="75%">
          <source src="{{vidPath}}" type="video/mp4" />
          Browser not supported
        </video>
  
      </div>
  
    </div>
  </div> -->
