<body background="assets/bg-01.jpg " class="pb-5 mt-5 job">
  <div class="row-mx-auto mt-5 text-center">
    <h1> We Are Hiring!</h1>
    <img src="assets/hire.jpg" alt="#">
  </div>
  
  <div class="container mt-5">
    <div *ngFor="let job of jobs">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Profile : {{job.job_profile}}</h4>
            <p class="card-text "><b>Base Salary :</b> {{job.base_sal}}</p>
            <ul class="card-text">
              <li><b>Enrollment Type :</b> {{job.enrollment_type}}</li>
              <li><b>Educational Requirement :</b>{{job.educational_req}}</li>
              <li><b>Skills Requirement :</b> {{job.skills_req}}</li>
              <li><b>Experience Required :</b> {{job.experience_req}}</li>
              <li><b>Location :</b> {{job.job_location}}</li>
              <li><b>Vacancies :</b> {{job.vacancies}}</li>
            </ul>
            <p><b>Description :</b> {{job.jod_description}}</p>
            <button type="submit" class="btn btn-secondary btn-lg mt-2" (click)="apply(job)">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>