<body background="assets/bg-01.jpg " class="pb-5 mt-5 job">
  <div class="row-mx-auto mt-5 text-center">
    <h1> We Are Hiring!</h1>
    <img src="assets/hire.jpg" alt="#">
  </div>
  
  <div class="container mt-5">
    <div *ngFor="let job of jobs">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Profile : <span style="color: #F26522">{{job.job_profile}}</span></h4>
            <p class="card-text "><b>Base Salary :</b> <span style="color:#008391">{{job.base_sal}}</span></p>
            <ul class="card-text">
              <li><b>Enrollment Type :</b><span style="color:#008391">{{job.enrollment_type}}</span> </li>
              <li><b>Educational Requirement :</b> <span style="color:#008391">{{job.educational_req}}</span></li>
              <li><b>Skills Requirement :</b> <span style="color:#008391">{{job.skills_req}}</span></li>
              <li><b>Experience Required :</b> <span style="color:#008391">{{job.experience_req}}</span></li>
              <li><b>Location :</b> <span style="color:#008391">{{job.job_location}}</span></li>
              <li><b>Vacancies :</b> <span style="color:#008391">{{job.vacancies}}</span></li>
            </ul>
            <p><b>Description :</b><span style="color:#7a8687"> {{job.jod_description}}</span></p>
            <button type="submit" class="btn btn-secondary btn-lg mt-2" (click)="apply(job)">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>