<!-- <div class="container border border-secondary rounded mt-5 w-50 h-75">
  <div class="row mx-auto ">
    <div class="col-12">
      <h1>Login To Portal</h1>
      <br>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

        <div class="form-group ">
          <label for="email">Email:</label>
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" formControlName="password" class="form-control" id="pswd" placeholder="Enter Password"
            name="pswd">
        </div>

        <div class="form-group text-center">
          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mt-2 mb-2 ">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div> -->


<div class="container">
    <div class="loginForm col-lg-5 col-md-8 col-sm-8 p-4">
      <form action=""  [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="loginHeader pt-3 pb-4">
        <h4>LOGIN</h4>
      </div>
      <div class="loginBody">
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="email" formControlName="email" class="form-control form-control-lg" name="email" placeholder="email...">
            <div class="input-group-append">
              <span class="input-group-text p-3"><i class="fa fa-user"></i></span>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">Email should be in proper format</div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="password" formControlName="password" class="form-control form-control-lg" name="username" placeholder="Password...">
            <div class="input-group-append">
              <span class="input-group-text p-3"><i class="fa fa-lock"></i></span>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Password should be of min 6 characters long</div>
        </div>
        <!-- <div class="text-right form-group">
          <a href="#">Forgot password ?</a>
        </div> -->
        <div class="form-group mt-5">
          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-block btn-lg btn-primary">Login</button>
        </div>
      </div>
    </form>
    </div>
  </div>